nav {
    border-bottom: 1px solid black;
}

.navLinks ol {
    list-style-type: none;
    padding-left: 0;
}

.navLink {
    display: inline-block;
}

.navLink a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}